a* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(var(--theme-secondary));
  color: rgb(var(--text-color));
}

// custom classes
button {
  border: none;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--fx-white));
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--fx-dark));
  }
  .theme-btn {
  }
}
.primary-color {
  color: rgb(var(--primary-color));
}

.secondary-color {
  color: rgb(var(--secondary-color));
}
.fx-white {
  color: rgb(var(--fx-white));
}
.fx-dark {
  color: rgb(var(--fx-dark));
}

.muted-text {
  color: rgb(var(muted-text));
}

.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}

// bootstrap classes
.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0.4) !important;
  padding-left: calc(var(--bs-gutter-x) * 0.4) !important;
}

.row-gap-2 {
  row-gap: 8px;
}

.card {
  background-color: rgb(var(--theme-primary));
  width: 100%;
  height: 100%;
}
